{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>{% block title %}Converter Site 👩‍💻{% endblock %}</title>
  <link rel="icon" href="{% static 'images/convert.png' %}" type="image/x-icon">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
</head>
<body style="background-color: #5c848e;">
  <nav class="navbar navbar-expand-lg navbar-light mb-4" style="background-color: #1e8026">
    <div class="container">
      <a class="navbar-brand" href="{% url 'uploadfile' %}">PDF ↔️ DOC</a>
      <p style="margin: 2px; float: right;">Made with ❤️ by Payal</p>
    </div>
  </nav>

  <div class="container" style="margin: 10% auto;height: 20vh;">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body" style="height: 200px; text-align: center;">
            {% block content %}
            <h2 style="margin-bottom: 2.3rem;">PDF ↔️ DOC</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="document">
                <button name= "pdf" type="submit" class="btn1">PDF Converter</button>
                
                <button type="submit" class="btn2">Doc Converter</button>
            </form>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
		<div class="footerdiv">Where To Find Me</div>
		<div class="social">
			<a href="https://www.linkedin.com/in/payal-sasmal-64204311a/" target="_blank" class="footer__icon"><i
					class='fab fa-linkedin-in'></i></a>
			<a href="https://twitter.com/payalsasmal" target="_blank" class="footer__icon"><i
					class='fab fa-twitter'></i></a>
			<a href="mailto:sasmalpayal@gmail.com" target="_blank" class="footer__icon"><i
					class='far fa-envelope'></i></a>
			<a href="https://github.com/PayalSasmal10" target="_blank" class="footer__icon"><i
					class='fab fa-github'></i></a>
			<a href="https://dev.to/payalsasmal" target="_blank" class="footer__icon"><i class='fab fa-dev'></i></a>
		</div>
		<!-- ===== FOOTER COPYRIGHT ====== -->
		<div class="copyright mt-4" data-aos="fade-up">
			Copyright ©
			<span class="date"><script>document.write(new Date().getFullYear())</script></span>
			<span class="no-wrap">All rights reserved </span>

		</div>
	</footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>